{% extends "_helpers/_base.html" %}

{%  block title %}

    Logs List
{%  endblock  %}

{% block content %}
    <a href="{% url "my_middleware:list_middleware_user" %}">
        <button class="btn btn-primary">
            Log List by User
        </button>
    </a>
    <a href="{% url "my_middleware:list_middleware_sessions" %}">
        <button class="btn btn-primary">
            Log List by Sessions
        </button>
    </a>
    <p>Count all Logs: {{ count_all_logs }}</p>
    <ol>
        {% for log in paginated_queryset %}
            <li>
                <div class="col my-element-style">
                    <div class="my-element-content">
                        <p>ID: {{ log.id }}</p>
                        <p>Request path: {{ log.path }}</p>
                        <p>User: {{ log.user }}</p>
                        <p>Session id: {{ log.session_id }}</p>
                        <p>Counter: {{ log.count_requests }}</p>
                        <p>Created time: {{ log.visit_time }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}

    </ol>
    {%  include "middleware/paginator_include.html" with page=page_obj %}


{% endblock %}
