{% extends "_helpers/_base.html" %}

{%  block title %}

    Sessions List
{%  endblock  %}

{% block content %}


    <p>Count Logs by sessions : {{ count_logs_by_sessions }}</p>
    <ol>

        {% for log in paginated_queryset %}
            <li>
                <div class="col my-element-style">
                    <div class="my-element-content">
                        <p>ID: {{ log.name}}</p>
                        <p>Request path: {{ log.path }}</p>
                        {% if user.is_authenticated %}
                            <p>User: {{ log.user }}</p>
                        {% else %}
                            <p>User: Unknown user</p>
                        {% endif %}
                        <p>Session id: {{ log.session_id }}</p>
                        <p>Count_requests: {{ log.count_requests }}</p>
                        <p>Created time: {{ log.visit_time }}</p>
                    </div>


                </div>
            </li>
        {% endfor %}
    </ol>
    {%  include "middleware/paginator_include.html" %}

{% endblock %}