

{% block pagination %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class=aria-current="page">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>

        </ul>
    </nav>
{% endblock %}



{#<nav aria-label="...">#}
{#    <ul class="pagination">#}
{#        <li class="page-item disabled">#}
{#            <span class="page-link">Previous</span>#}
{#        </li>#}
{#        <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#        <li class="page-item active" aria-current="page">#}
{#            <span class="page-link">2</span>#}
{#        </li>#}
{#        <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="#">Next</a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}


{#{% block pagination %}#}
{#    #{% if is_paginated %}#}
{#        <nav aria-label="...">#}
{#            <ul class="pagination">#}
{#                <li class="page-item disabled">#}
{#                    <span class="page-link">Previous</span>#}
{#                </li>#}
{#                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                <li class="page-item active" aria-current="page">#}
{#                    <span class="page-link">2</span>#}
{#                </li>#}
{#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="#">Next</a>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}
{#   # {% endif %}#}
{#{% endblock %}#}