{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="logo" src="{% static "/logo/logo.svg" %}" alt="site-logo" />
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "root:index" %}"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "first_example:index" %}"> Greetings </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "first_example:hello_with_args" name="Mary" age=20 %}"> Greetings with args </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "first_example:users" amount=5 %}"> Users </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "contacts:list_by_function" %}"> Contacts by list </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "contacts:list_by_class" %}"> Contacts by class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "sessions_user:index" %}"> Sessions</a>
            </li>


        </ul>
    </nav >
    {% if user.is_authenticated %}

        <li class="last">
            <p> {{ user.username }} |<a href = "{% url "logout" %}"> Logout </a></p>
            <div class="col my-element-style">
                <div class="user-avatar">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="Avatar" >
                    {% endif %}
                </div>
            </div>
            <a href="{% url "user:update_u" pk=user.id %}">
                <button class="btn btn-success">
                    Edit account
                </button>
            </a>
        </li>


    {% else %}
        <li class="last">
            <a href="{% url "login" %}" > Login </a>| <a href="{% url "user:signup" %}" > Signup users</a>
        </li>
    {% endif %}
{#
</header>
